{{ define "main" }}
<div class="bg-secondary-bg rounded overflow-hidden mt-12 px-4 py-32 text-center">
    <script type="text/javascript">
    function oldd()
    {
        document.getElementById("imm").innerHTML='<style type="text/css">#im{animation:jumpup 2.5s ease 1s;-webkit-animation:jumpup 1s; /* Safari and Chrome */}@keyframes jumpup{from{position: relative;left: 50%;top: 50%;transform: translate(-50%,40%);}to{position: relative;left: 50%;top: 50%;transform: translate(-50%,10%);}}@-webkit-keyframes jumpup{from{position: relative;left: 50%;top: 50%;transform: translate(-50%,40%);}to{position: relative;left: 50%;top: 50%;transform: translate(-50%,10%);}}</style>';
        document.getElementById("im").removeAttribute("hidden")

    }
</script>
    <span class="text-3xl">404 - Page not found</span>

</div>
{{ end }}

